# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
**/node_modules/

# vscode
.vscode/

# python 
**/.venv/
**/.pytest_cache/
**/__pycache__/
**/.env
**/.ipynb_checkpoints/
**/*.keras
**/keypoint_data_*/


# docker
**/Dockerfile
**/.dockerignore

# mediapipe model files (downloaded at runtime)
**/*.task
